@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
    --center: center;
    --color: #FFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--color);
    background: linear-gradient(90deg, #6e91b9 0%, #bcc8dc 100%);
    font-family: 'Nunito', sans-serif;
}

body, 
.row:first-child, 
.row:nth-child(2), 
.material-symbols-outlined, 
.item:not(.item:last-child), 
.item:last-child {display: flex;}

body, 
.row:first-child, 
.row:nth-child(2), 
.material-symbols-outlined,
.item:last-child {justify-content: var(--center);}

body, 
.row:first-child, 
.row:nth-child(2), 
.material-symbols-outlined,
.item:not(.item:last-child) {align-items: var(--center);}

.container {
    margin-top: 10rem;
    width: 400px;
}

.row {background-color: #1a1e2e;}

.row, 
.item:not(.item:last-child), 
#show-password, 
#copy-password {box-shadow: 3px 3px 3px -3px #000;}

.row, 
button {border-radius: .2rem;}

.row:first-child {height: 3.5rem;}

.row:first-child, 
.row:nth-child(2) {margin-bottom: .8rem;}

.title {font-size: 1.8rem;}

.row:nth-child(2) {height: auto;}

.row:nth-child(n + 2) {padding: .85rem;}

#show-password {
    width: 100%;
    background-color: #383e55;
}

#show-password, 
#copy-password {height: 45px;}

#copy-password {
    width: 55px;
    background-color: #FFF;
}

#copy-password, 
button {cursor: pointer;}

#password-result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    padding: .5rem;
}

.material-symbols-outlined {
    color: #000;
    height: 100%;
    width: 100%;
}

input[type=number] {
    height: 45px;
    width: 153px;
    text-align: var(--center);
}

input[type=number]:focus {
    border: none;
    outline: none;
}

input[type=checkbox] {
    height: 37px;
    width: 37px;
    accent-color: #1B1B1B;
}

.item:not(.item:last-child) {
    background-color: #383e55;
    margin-bottom: 1.15rem;
    padding: .6rem;
    border-radius: .2rem;
}

input[type=number], 
label {font-size: x-large;}

input[type=number] + label {font-size: larger;}

label {margin-left: 1rem;}

.item:last-child {
    position: relative;
    top: 2rem;
}

button {
    color: var(--color);
    font-size: xx-large;
    width: 100%;
    height: 50px;
    background: #5b5b5b;
    border: 0;
    transition: .4s ease-in-out;
}

button:hover {transform: scale(1.1);}

button:active {
    transform: scale(.9);
    transition: .1s;
}

/* Tool tip */
#copy-password {
    position: relative;
    display: inline-block;
}

#copy-password #txt {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

#copy-password #txt::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#copy-password:hover #txt {
    visibility: visible;
    opacity: 1;
}